.container {
  margin: auto;
  height: 150px;
  width: 100%;
  /* max-width: 1440px; */
  background-color: black;
}

.bgWarning {
  width: 100%;
  height: 50px;
  background: url('/images/bg-warning-header.png');
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning {
  max-width: 1440px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning span {
  margin-left: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.bgNavbar {
  margin: auto;
  height: 100px;
  width: 100%;
  max-width: 1440px;
  margin-top: 17px;
}

.navbar {
  margin: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 152px;
  height: 66px;
}

.link {
  width: 221px;
  height: 25px;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;

  position: relative; /*pra usar absolute no dropdwon*/
}

.link a:last-child {
  margin-left: 10px;
}

.link a {
  text-decoration: none;
  color: var(--links);
  transition-property: color, border;
  transition-duration: 500ms, 500ms;
}

.link a:hover {
  /* text-decoration: none; */
  color: var(--white);
  /* border-bottom: 5px solid red; */
}

.productsOptions {
  width: 8rem;
  height: 2.5rem;
  background-color: var(--links);
  font-weight: 600;
  padding: 0 5px 0 5px;
  border-radius: 15px;
}

.dropDownItems {
  background-color: #fab11f;
  /* background-color: rgba(255, 180, 0, 0.2); */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 5px 10px 5px 10px;

  width: 250px;
  text-align: center;
  position: absolute;
  top: 40px;
  left: -65px;
  display: none;
  z-index: 1;
}

.dropDownItems a {
  display: block;
}

.dropDownItems a:hover {
}

.link:hover .dropDownItems {
  display: block;
}
